@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* common utilities */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  justify-content: center;
}
.container {
  height: 689px;
  width: 870px;
  background-color: #ffffff;
  padding: 33px 33px 0 33px;
}

/* top players part  */

.section-title h2 {
  color: #562eff;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  height: 56px;
  width: 56px;
}
